# App
NODE_ENV=production
PORT=3001
CORS_ORIGIN=http://157.173.220.80:8081
CORS_CREDENTIALS=true

# Database
DATABASE_URL=postgresql://finskool:YOUR_DB_PASSWORD@postgres:5432/finskool
POSTGRES_DB=finskool
POSTGRES_USER=finskool
POSTGRES_PASSWORD=YOUR_DB_PASSWORD
POSTGRES_PORT=5433

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=YOUR_REDIS_PASSWORD
REDIS_DB=0

# JWT
JWT_SECRET=YOUR_64_CHAR_RANDOM_SECRET
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# MinIO
MINIO_ENDPOINT=minio
MINIO_PUBLIC_ENDPOINT=157.173.220.80
MINIO_PORT=9002
MINIO_CONSOLE_PORT=9003
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=YOUR_MINIO_USER
MINIO_SECRET_KEY=YOUR_MINIO_PASSWORD
MINIO_BUCKET=finskool
